asgiref==3.12.1
Django==6.0.5
django-filter==26.1
djangorestframework==3.17.1
dotenv==0.9.9
gunicorn==26.0.0
packaging==26.2
psycopg2-binary==2.9.12
python-dotenv==1.2.2
asgiref==3.12.1
Django==6.0.7
django-filter==26.1
djangorestframework==3.17.1
dotenv==0.9.9
gunicorn==26.0.0
packaging==26.2
psycopg2-binary==2.9.12
python-dotenv==1.2.2
sqlparse==0.5.5